body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

.top-section-container {
  background-color: #001d37;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}
.top-section {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 1066px;
  margin: 0 auto;
  color: white;
  position: relative;
}

.top-section h1 {
  max-width: 525px;
  font-size: 4rem;
  margin: 0;
  line-height: 97%;
}

.actual-top-content {
  z-index: 2;
  position: relative;
}

.intro-text {
  font-size: 1.25rem;
  line-height: 163%;
  margin: 1rem 0;
  max-width: 435px;
}

.intro-buttons {
  margin-bottom: 70px;
}

.my-button {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 97%;
  font-weight: 600;
  display: inline-block;
  padding: 13px 25px;
  background-color: #475aff;
  border: 2px solid #475aff;
  color: white;
  text-decoration: none;
  border-radius: 1000px;
  transition: background-color .3s  ease-out, border .3 ease-out;
}

.my-button:hover{
  background-color: #2e40e2;
  border: 2px solid #2e40e2;
}

.my-button-outline {
  background-color: transparent;
  border: 2px solid white;
}

.my-button-outline:hover {
  background-color: white;
  color: #475aff;
  border: 2px solid white;
}


.utility-mr {
  margin-right: 10px;
}

.intro-feature {
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 33px 25px;
}

.intro-feature p {
  margin: 0;
  font-size: 1.0626rem;
}

.intro-feature h2 {
  font-size: 1.5rem;
  margin: 31px 0 3px 0;
}

.intro-features {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
}

@media screen and (min-width: 580px){
  .intro-features{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px){
  .intro-features{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.circle {
  width: 617px;
  height: 617px;
  border-radius: 50%;
  background-color: #d660ff;
  opacity: 0.85;
  filter: blur(150px);
  position: absolute;
  top: 0;
  right: -390;
}

.circle-two {
  width: 617px;
  height: 617px;
  border-radius: 50%;
  background-color: #6079ff;
  opacity: 0.85;
  filter: blur(150px);
  position: absolute;
  top: -365;
  left: -123;
}

.page-section{
  background-color: #fff;
  padding: 70px 16px;
}

.page-section-inner{
  max-width: 1066px;
  margin: 0 auto;
}

.page-section-title{
  font-size: 4rem;
  margin: 0;
  line-height: 1;
}

.pet-filter{
  color: #9F9F9F;
  font-size: 1.15rem;
}

.pet-filter button{
  background-color: transparent;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  color: #9F9F9F;
  font-size: 1.15rem;
}

.site-footer{
  text-align: center;
  color: #a6a6a6;
  margin: 0;
  padding: 0 0 65px 0;
}

.list-of-pets {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
  column-gap: 34px;
  row-gap: 16px;
}

.pet-card{
  display: grid;
  grid-template-columns: 165px 1fr;
  border-radius: 20px;
  border: 1px solid #F3F3F3;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.pet-card-photo{
  order: 1;
  grid-row: 1;
}

.pet-card-photo img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-card-text{
  padding: 18px 16px; /* 21 vertical, 29 horizontal */
}

.pet-card-text h3{
  margin:0 0 5px 0;
  font-size: 1.625rem;
  font-weight: 600;
}

.pet-description{
  font-size: .9rem;
  margin: 0 0 1rem 0;
  color: #626262;
  line-height: 150%;
}

.pet-age{
  color: #a2a2a2;
  font-size: .85rem;
  margin: 0;
}

@media screen and (min-width: 600px){

  .pet-description{
    font-size: 1rem;
  }

  .list-of-pets {
    row-gap: 28px;
  }

  .pet-filter{
    font-size: 1.375rem;
  }

  .pet-filter button{
    font-size: 1.375rem;
  }

  .page-section-title{
    font-size: 5.31rem;
  }

  .page-section{
    padding: 130px 16px;
  }

  .intro-buttons {
    margin-bottom: 129px;
  }

  .top-section h1 {
    font-size: 6.25rem;
  }

  .top-section{
      padding-bottom: 139px;
      max-width: 1066px;
  }
}